# flyctl launch added from .gitignore
# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
node_modules
.pnp
**/.pnp.js

# testing
coverage

# production
build

# misc
**/.DS_Store
**/.env.local
**/.env.development.local
**/.env.test.local
**/.env.production.local

**/.idea*

**/npm-debug.log*
**/yarn-debug.log*
**/yarn-error.log*

# Avoid accidental upload of the Sketch and Figma design files
#####################################################
## Please do not remove lines 5 and 6 - thanks! 🙂 ##
#####################################################
**/*.sketch
**/*.fig

# Avoid accidental XD upload if you convert the design file
###############################################
## Please do not remove line 12 - thanks! 🙂 ##
###############################################
**/*.xd

# Avoid your project being littered with annoying .DS_Store files!
**/.prettierignore
test-results
playwright-report
blob-report
playwright/.cache

.vscode
invoice-backend/node_modules
invoice-frontend/node_modules

**/cleanup.sh

# Logs
**/logs
**/*.log
**/npm-debug.log*
**/yarn-debug.log*
**/yarn-error.log*
**/pnpm-debug.log*
**/lerna-debug.log*

**/node_modules
**/dist
**/dist-ssr
**/*.local

# Editor directories and files
**/.vscode/*
!**/.vscode/extensions.json
**/*.idea
**/.DS_Store
**/*.suo
**/*.ntvs*
**/*.njsproj
**/*.sln
**/*.sw?
**/.idea/compiler.xml
**/invoice-backend/.env

# flyctl launch added from .idea/.gitignore
# Default ignored files
.idea/shelf
.idea/workspace.xml
# Editor-based HTTP Client requests
.idea/httpRequests

# flyctl launch added from invoice-backend/.gitignore
invoice-backend/**/node_modules
invoice-backend/**/build
invoice-backend/**/.env
invoice-backend/**/*.env
invoice-backend/**/coverage

# flyctl launch added from invoice-backend/node_modules/diagnostics/.gitignore
# Logs
invoice-backend/node_modules/diagnostics/**/logs
invoice-backend/node_modules/diagnostics/**/*.log
invoice-backend/node_modules/diagnostics/**/npm-debug.log*
invoice-backend/node_modules/diagnostics/**/yarn-debug.log*
invoice-backend/node_modules/diagnostics/**/yarn-error.log*

# Runtime data
invoice-backend/node_modules/diagnostics/**/pids
invoice-backend/node_modules/diagnostics/**/*.pid
invoice-backend/node_modules/diagnostics/**/*.seed
invoice-backend/node_modules/diagnostics/**/*.pid.lock

# Directory for instrumented libs generated by jscoverage/JSCover
invoice-backend/node_modules/diagnostics/**/lib-cov

# Coverage directory used by tools like istanbul
invoice-backend/node_modules/diagnostics/**/coverage

# nyc test coverage
invoice-backend/node_modules/diagnostics/**/.nyc_output

# Grunt intermediate storage (https://gruntjs.com/creating-plugins#storing-task-files)
invoice-backend/node_modules/diagnostics/**/.grunt

# Bower dependency directory (https://bower.io/)
invoice-backend/node_modules/diagnostics/**/bower_components

# node-waf configuration
invoice-backend/node_modules/diagnostics/**/.lock-wscript

# Compiled binary addons (https://nodejs.org/api/addons.html)
invoice-backend/node_modules/diagnostics/**/build/Release

# Dependency directories
invoice-backend/node_modules/diagnostics/**/node_modules
invoice-backend/node_modules/diagnostics/**/jspm_packages

# TypeScript v1 declaration files
invoice-backend/node_modules/diagnostics/**/typings

# Optional npm cache directory
invoice-backend/node_modules/diagnostics/**/.npm

# Optional eslint cache
invoice-backend/node_modules/diagnostics/**/.eslintcache

# Optional REPL history
invoice-backend/node_modules/diagnostics/**/.node_repl_history

# Output of 'npm pack'
invoice-backend/node_modules/diagnostics/**/*.tgz

# Yarn Integrity file
invoice-backend/node_modules/diagnostics/**/.yarn-integrity

# dotenv environment variables file
invoice-backend/node_modules/diagnostics/**/.env
invoice-backend/node_modules/diagnostics/**/.env.test

# parcel-bundler cache (https://parceljs.org/)
invoice-backend/node_modules/diagnostics/**/.cache

# next.js build output
invoice-backend/node_modules/diagnostics/**/.next

# nuxt.js build output
invoice-backend/node_modules/diagnostics/**/.nuxt

# vuepress build output
invoice-backend/node_modules/diagnostics/**/.vuepress/dist

# Serverless directories
invoice-backend/node_modules/diagnostics/**/.serverless

# FuseBox cache
invoice-backend/node_modules/diagnostics/**/.fusebox

# DynamoDB Local files
invoice-backend/node_modules/diagnostics/**/.dynamodb

# Stuff that should not be committed
invoice-backend/node_modules/diagnostics/**/dist
invoice-backend/node_modules/diagnostics/**/package-lock.json

# flyctl launch added from invoice-frontend/.gitignore
# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
invoice-frontend/node_modules
invoice-frontend/.pnp
invoice-frontend/**/.pnp.js
invoice-frontend/**/.yarn/install-state.gz

# testing
invoice-frontend/coverage
invoice-frontend/**/playwright-report
invoice-frontend/**/test-results

# next.js
invoice-frontend/.next
invoice-frontend/out

# production
invoice-frontend/build

# misc
invoice-frontend/**/.DS_Store
invoice-frontend/**/*.pem

# debug
invoice-frontend/**/npm-debug.log*
invoice-frontend/**/yarn-debug.log*
invoice-frontend/**/yarn-error.log*

# local env files
invoice-frontend/**/.env*.local

# vercel
invoice-frontend/**/.vercel

# typescript
invoice-frontend/**/*.tsbuildinfo
invoice-frontend/**/next-env.d.ts

invoice-frontend/**/videos
invoice-frontend/**/playwright-report
fly.toml
