# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.js

# testing
/coverage

# production
/build

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

.idea*

npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Avoid accidental upload of the Sketch and Figma design files
#####################################################
## Please do not remove lines 5 and 6 - thanks! 🙂 ##
#####################################################
*.sketch
*.fig

# Avoid accidental XD upload if you convert the design file
###############################################
## Please do not remove line 12 - thanks! 🙂 ##
###############################################
*.xd

# Avoid your project being littered with annoying .DS_Store files!
.prettierignore
/test-results/
/playwright-report/
/blob-report/
/playwright/.cache/

/.vscode
/invoice-backend/node_modules
/invoice-frontend/node_modules

cleanup.sh

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
*.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
.idea/compiler.xml
invoice-backend/.env
net.json
network_logs.json
trace.har
videos/9dc2d2b3f969debe037daa405ceccf26.webm
videos/4489c5ebe6daaed6e51cd769a157bbf3.webm
videos/da79d212700396383a0b94a15f60324b.webm
fullpage.png
invoice-frontend/playwright-report/index.html
invoice-frontend/playwright-report/index.html
invoice-frontend/.env.production
invoice-frontend/.env.production

certs
*/certs
*/**/certs

authToken.json
invoice-frontend/state.json
invoice-frontend/playwright-report/index.html
state.json
invoice-frontend/playwright-report/index.html
