/*!******************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[11].oneOf[12].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[11].oneOf[12].use[3]!./src/styles/index.css ***!
  \******************************************************************************************************************************************************************************************************************************************************************/
@import url("https://fonts.googleapis.com/css2?family=League+Spartan:wght@500;700&display=swap");

html {
}

/*:root {*/
/*  !* Your default theme *!*/
/*  --background: white;*/
/*  --foreground: black;*/
/*}*/

/*[data-theme='dark'] {*/
/*  --background: black;*/
/*  --foreground: white;*/
/*}*/


body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: "League Spartan", sans-serif;
  font-weight: 500;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

/*!*********************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[11].oneOf[12].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[11].oneOf[12].use[3]!./src/styles/css-vars.css ***!
  \*********************************************************************************************************************************************************************************************************************************************************************/
body {
    --theme-font: "League Spartan";
}

body[data-theme='light'] {
    --colors-primary: deeppink;
    --colors-text: hsl(200, 15%, 8%);
    --colors-text-plain: black;
    --colors-background: rgb(242, 242, 242);
    --colors-object-background: white;
    --colors-draft-background: rgba(55,59,83, 0.06);
    --colors-draft-text: #373B53;
    --colors-grey-text: #888EB0;
    --colors-header-background: rgb(55, 59, 83);
    --colors-input-background: #FFFFFF;
    --colors-body: #F2F2F2;
    --colors-form-field-outline: #DFE3FA;
    --colors-form-field-outline-focus: #9277FF;
    --colors-form-background: #FFFFFF;
    --colors-new-button: #7C5DFA;
    --colors-new-button-hover: #9277FF;
    --colors-edit-button: #F9FAFE;
    --colors-edit-button-hover: #DFE3FA;
    --colors-new-item-text: #7E88C3;
    --colors-outline: #7C5DFA;
    --colors-filter-shadow: 0px 10px 20px rgba(72, 84, 159, 0.25);
    --colors-date-text: #0C0E16;
    --colors-amount-due-background: #373B53;
    --colors-item-list-form-background: white;
    --colors-payment-terms-background: white;
    --colors-payment-option-border: #DFE3FA;

}

body[data-theme='dark'] {
    --colors-primary: lightpink;
    --colors-text: hsl(0, 0%, 100%);
    --colors-text-plain: white;
    --colors-background: rgb(20, 22, 37);
    --colors-object-background: rgb(30, 33, 57);
    --colors-draft-background: rgba(151, 151, 151, 0.06);
    --colors-draft-text: #DFE3FA;
    --colors-grey-text: #DFE3FA;
    --colors-header-background: #1E2139;
    --colors-input-background: #1E2139;
    --colors-form-field-outline: #252945;
    --colors-body: #141625;
    --colors-form-field-outline-focus: #9277FF;
    --colors-form-background: #141625;
    --colors-new-button: #7C5DFA;
    --colors-new-button-hover: #9277FF;
    --colors-edit-button: #252945;
    --colors-edit-button-hover: #FFFFFF;
    --colors-new-item-text: #888EB0;
    --colors-outline: #7C5DFA;
    --colors-filter-shadow: 0px 10px 20px rgba(0, 0, 0, 0.25);
    --colors-date-text: #DFE3FA;
    --colors-amount-due-background: #0C0E16;
    --colors-item-list-form-background: #141625;
    --colors-payment-terms-background: #252945;
    --colors-payment-option-border: #1E2139;
}

/*export const lightTheme*/

/*=*/
/*{*/
/*    body: "#F2F2F2",*/
/*    text: "hsl(200, 15%, 8%)",*/
/*    textPlain: "black",*/
/*    toggleBorder: "#FFF",*/
/*    background: "#FFFFFF",*/
/*    font: "League Spartan",*/
/*    elements: "hsl(0, 0%, 100%)",*/
/*    outline: "#7C5DFA",*/
/*    greyText: "#888EB0",*/
/*    formBackground: "#FFFFFF",*/
/*    headerBackground: "#373B53",*/
/*    formFieldOutline: "#DFE3FA",*/
/*    formFieldOutlineFocus: "#9277FF",*/
/*    newButton: "#7C5DFA",*/
/*    newButtonHover: "#9277FF",*/
/*    editButton: "#F9FAFE",*/
/*    editButtonHover: "#DFE3FA",*/
/*    newItemText: "#7E88C3",*/
/*    inputBackgroundColor: "#FFFFFF",*/
/*    draftColor: "#373B53",*/
/*    draftBackgroundColor: "rgba(55,59,83, 0.06)",*/
/*    filterShadow: "0px 10px 20px rgba(72, 84, 159, 0.25)",*/
/*    dateText: "#0C0E16",*/
/*    amountDueBackground: "#373B53",*/
/*    itemListFormBackground: "white",*/
/*    paymentTermsBackground: "white",*/
/*    paymentOptionBorder: "#DFE3FA",*/
/*}*/
/*;*/
/*export const darkTheme*/

/*=*/
/*{*/
/*    body: "#141625",*/
/*    text: "hsl(0, 0%, 100%)",*/
/*    textPlain: "#FFFFFF",*/
/*    headerBackground: "#1E2139",*/
/*    toggleBorder: "#6B8096",*/
/*    background: "#1E2139",*/
/*    elements: "hsl(209, 23%, 22%)",*/
/*    outline: "#7C5DFA",*/
/*    greyText: "#DFE3FA",*/
/*    formBackground: "#141625",*/
/*    formFieldOutline: "#252945",*/
/*    formFieldOutlineFocus: "#9277FF",*/
/*    newButton: "#7C5DFA",*/
/*    newButtonHover: "#9277FF",*/
/*    editButton: "#252945",*/
/*    editButtonHover: "#FFFFFF",*/
/*    newItemText: "#888EB0",*/
/*    inputBackgroundColor: "#1E2139",*/
/*    draftColor: "#DFE3FA",*/
/*    draftBackgroundColor: "rgba(151, 151, 151, 0.06)",*/
/*    filterShadow: "0px 10px 20px rgba(0, 0, 0, 0.25)",*/
/*    dateText: "#DFE3FA",*/
/*    amountDueBackground: "#0C0E16",*/
/*    itemListFormBackground: "#141625",*/
/*    paymentTermsBackground: "#252945",*/
/*    paymentOptionBorder: "#1E2139",*/
/*}*/
/*;*/

