{
  "singleQuote": false,
  "tabWidth": 2,
  "endOfLine": "lf",
  "plugins": [],
  "overrides": [
    {
      "files": ["*.graphql", "*.gql"],
      "options": {
        "parser": "graphql"
      }
    }
  ]
}
