{
  "extends": "./tsconfig.json",
  "exclude": [
    "node_modules",
    "dist"
  ],
  "singleQuote": false,
  "plugins": [],
  "overrides": [
    {
      "files": [
        "*.graphql",
        "*.gql"
      ],
      "options": {
        "parser": "graphql"
      }
    }
  ]
}
