body {
  --theme-font: "League Spartan";
}

body[data-theme="light"] {
  --colors-primary: deeppink;
  --colors-text: hsl(200, 15%, 8%);
  --colors-text-plain: black;
  --colors-background: rgb(242, 242, 242);
  --colors-object-background: white;
  --colors-draft-background: rgba(55, 59, 83, 0.06);
  --colors-draft-text: #373b53;
  --colors-grey-text: #888eb0;
  --colors-header-background: rgb(55, 59, 83);
  --colors-input-background: #ffffff;
  --colors-body: #f2f2f2;
  --colors-form-field-outline: #dfe3fa;
  --colors-form-field-outline-focus: #9277ff;
  --colors-form-background: #ffffff;
  --colors-new-button: #7c5dfa;
  --colors-new-button-hover: #9277ff;
  --colors-edit-button: #f9fafe;
  --colors-edit-button-hover: #dfe3fa;
  --colors-new-item-text: #7e88c3;
  --colors-outline: #7c5dfa;
  --colors-filter-shadow: 0px 10px 20px rgba(72, 84, 159, 0.25);
  --colors-date-text: #0c0e16;
  --colors-amount-due-background: #373b53;
  --colors-item-list-form-background: white;
  --colors-payment-terms-background: white;
  --colors-payment-option-border: #dfe3fa;
  --colors-checkbox-background: rgb(223, 227, 250);
}

body[data-theme="dark"] {
  --colors-primary: lightpink;
  --colors-text: hsl(0, 0%, 100%);
  --colors-text-plain: white;
  --colors-background: rgb(20, 22, 37);
  --colors-object-background: rgb(30, 33, 57);
  --colors-draft-background: rgba(151, 151, 151, 0.06);
  --colors-draft-text: #dfe3fa;
  --colors-grey-text: #dfe3fa;
  --colors-header-background: #1e2139;
  --colors-input-background: #1e2139;
  --colors-form-field-outline: #252945;
  --colors-body: #141625;
  --colors-form-field-outline-focus: #9277ff;
  --colors-form-background: #141625;
  --colors-new-button: #7c5dfa;
  --colors-new-button-hover: #9277ff;
  --colors-edit-button: #252945;
  --colors-edit-button-hover: #ffffff;
  --colors-new-item-text: #888eb0;
  --colors-outline: #7c5dfa;
  --colors-filter-shadow: 0px 10px 20px rgba(0, 0, 0, 0.25);
  --colors-date-text: #dfe3fa;
  --colors-amount-due-background: #0c0e16;
  --colors-item-list-form-background: #141625;
  --colors-payment-terms-background: #252945;
  --colors-payment-option-border: #1e2139;
  --colors-checkbox-background: #ffffff;
}
