

.itemTitle {
    font-weight: 700;
    font-size: 18px;
    line-height: 32px;
    /* identical to box height, or 178% */
    letter-spacing: -0.375px;
    color: var(--colors-grey-text);
    padding: 0;
    margin-top: 1rem;
    margin-bottom: 1rem;

    @media (min-width: 768px) {
        margin-top: 2rem;
    }
}

.itemName {
    white-space: nowrap;
    justify-self: start;
    width: 100%;
    margin: 0;
    padding-left: 1.25rem;
    color: var(--colors-text);
    font-style: normal;
    font-weight: 700;
    font-size: 12px;
    line-height: 15px;
    /* identical to box height, or 125% */
    letter-spacing: -0.25px;

    /*border: ${(props) => (props.invalid ? "1px solid red" : "")};*/

    @media (min-width: 600px) {
        width: 204px;
    }
}



.centered {
    justify-self: center;
}

.flexStart {
    justify-self: flex-start;
}

.columnHeading {
    color: var(--colors-new-item-text);
    width: fit-content;
    margin: 0;
    padding: 0;
    font-family: var(--theme-font), sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 11px;
    line-height: 18px;
    /* identical to box height, or 164% */
    letter-spacing: -0.229167px;
}

.columnHeadingCentered {
    composes: centered columnHeading;
}

.columnHeadingFlexStart {
    composes: flexStart columnHeading;
}

.input {
    cursor: pointer;
    width: 100%;
    height: 48px;
    border-radius: 4px;
    border: 1px solid var(--colors-form-field-outline);
    padding: 17px 20px 16px 20px;
    margin-bottom: 1.5rem;
    font-family: var(--theme-font), sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 12px;
    line-height: 15px;
    caret-color: #7c5dfa;
    outline: none;
    letter-spacing: -0.25px;
    color: var(--colors-text-plain);
    background-color: var(--colors-input-background);
}

.input:focus,
.input:hover {
    border-color: var(--colors-form-field-outline-focus);
}

.quantity {
    width: 64px;
    margin: 0;
    color: var(--colors-text-plain);
    padding: 0;
    padding-left: 1.25rem;
    font-weight: 700;
    font-size: 12px;
    line-height: 15px;
    /* identical to box height, or 125% */
    text-align: left;
    letter-spacing: -0.25px;

    @media (min-width: 600px) {
        text-align: center;
        width: 46px;
        display: inline;
        padding: 0;
    }
}

.price {
    width: 80px;
    padding-left: 1.25rem;
    text-align: left;

    @media (min-width: 325px) {
        width: 100px;
        padding-left: 1.25rem;
        text-align: left;
    }
}

.quantityInput {
    composes: input quantity;
}

.priceInput {
    composes: quantityInput price;
}

.total {
    min-width: 40px;
    align-self: center;
    /*justify-self: center;*/
    height: fit-content;
    font-weight: 700;
    font-size: 12px;
    line-height: 15px;
    /* identical to box height, or 125% */
    letter-spacing: -0.25px;
    color: var(--colors-grey-text);

    @media (min-width: 600px) {
        grid-area: initial;
        text-align: center;
        min-width: 60px;
    }

}