.main {
    height: 100%;
    width: 100%;
    min-height: 100vh;
    background-color: var(--colors-background);
    transition: all 0.4s ease-in-out;
    z-index: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    @media (min-width: 1200px) {
        display: grid;
        grid-template: repeat(3, auto) / 1fr;
        justify-items: center;
    }
}

.draft {
    background: var(--colors-draft-background);
    color: var(--colors-draft-text);

    .circle {
        background: var(--colors-draft-text);
    }
}

.pending {
    background-color: rgba(255, 143, 0, 0.06);
    color: rgb(255, 143, 0);

    .circle {
        background: rgb(255, 143, 0);
    }
}

.paid {
    background-color: rgba(51, 214, 159, 0.06);
    color: #33d69f;

    .circle {
        background: #33d69f;
    }
}