.invoiceEditorContainer {
    height: 100%;
    top: 72px;
    bottom: 91px;
    left: 0;
    background-color: var(--colors-form-background);
    position: fixed;
    display: flex;
    flex-direction: column;
    transition-property: all;
    transition-duration: 250ms;
    transition-timing-function: ease-in-out;
    overflow-x: hidden;
    filter: drop-shadow(2px 2px 2px);
    align-self: flex-start;
    z-index: 50;
    max-width: 100%;

    @media (min-width: 768px) {
        padding-left: 5rem;
        padding-right: 2rem;
        padding-top: 1rem;
        padding-bottom: 2rem;
        max-width: 700px;
        right: 616px;
        max-height: calc(100vh - 72px);
    }

    @media (min-width: 1200px) {
        left: 90px;
        padding-left: 5rem;
        top: 0;
        max-height: initial;
    }
}

.darkenScreen {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.5);
    transition: all 250ms ease-in-out;
    z-index: 100;
}